<% if user_signed_in? %> 
  <% if current_user.role_user? %>
    <div> Welcome <%= current_user.email %> </div> <br>
  <%else%>
    <h1>Admin Page</h1>
  <%end%>
<%else%>
  <h1>Welcome to Transaction</h1>
  <p>Please sign in to continue</p><br>
<% end %>